[worldserver]

###############################################################################
# 拍卖行机器人设置
#
#    AuctionHouseBot.DEBUG
#        启用/禁用调试输出
#    默认 0（禁用）
#
#    AuctionHouseBot.DEBUG_FILTERS
#        启用/禁用来自过滤器的调试输出
#    默认 0（禁用）
#
#    AuctionHouseBot.EnableSeller
#        启用/禁用 AHBot 中负责拍卖物品的部分
#    默认 0（禁用）
#
#    AuctionHouseBot.EnableBuyer
#        启用/禁用 AHBot 中从玩家购买物品的部分
#    默认 0（禁用）
#
#    AuctionHouseBot.UseBuyPriceForSeller
#        卖家是否使用购买价格还是销售价格确定竞标价格
#    默认 0（使用销售价格）
#
#    AuctionHouseBot.UseBuyPriceForBuyer
#        买家是否使用购买价格还是销售价格确定竞标价格
#    默认 0（使用销售价格）
#
#    拍卖行机器人角色数据
#        AuctionHouseBot.Account 是您要将其作为拍卖机器人运行的玩家的账号编号
#         (在 realmd->account 表中)
#        AuctionHouseBot.GUID 是您要将其作为拍卖机器人运行的玩家的 GUID
#         (在 characters->characters 表中)
#    默认: 0（拍卖行机器人已禁用）
#
#    AuctionHouseBot.ItemsPerCycle
#        大规模操作期间在拍卖行中添加/移除的物品数量
#    默认 200
#
###############################################################################

AuctionHouseBot.DEBUG = 0
AuctionHouseBot.DEBUG_FILTERS = 0
AuctionHouseBot.EnableSeller = 0
AuctionHouseBot.EnableBuyer = 0
AuctionHouseBot.UseBuyPriceForSeller = 0
AuctionHouseBot.UseBuyPriceForBuyer = 0
AuctionHouseBot.Account = 0
AuctionHouseBot.GUID = 0
AuctionHouseBot.ItemsPerCycle = 200

###############################################################################
# 拍卖行机器人过滤器 第1部分
#
#    AuctionHouseBot.VendorItems
#        包括可以从供应商购买的物品。
#    默认 0（False）
#
#    AuctionHouseBot.VendorTradeGoods
#        包括可以从供应商购买的商品。
#    默认 0（False）
#
#    AuctionHouseBot.LootItems
#        包括可以拾取或钓到的物品。
#    默认 1（True）
#
#    AuctionHouseBot.LootTradeGoods
#        包括可以拾取或钓到的商品。
#    默认 1（True）
#
#    AuctionHouseBot.OtherItems
#        包括其他物品。
#    默认 0（False）
#
#    AuctionHouseBot.OtherTradeGoods
#        包括其他商品。
#    默认 0（False）
#
#    AuctionHouseBot.Bonding_types
#        指示允许卖家拍卖的结合类型
#            No_Bind
#             默认 1（True）
#            Bind_When_Picked_Up
#             默认 0（False）
#            Bind_When_Equipped
#             默认 1（True）
#            Bind_When_Use
#             默认 1（True）
#            Bind_Quest_Item
#             默认 0（False）
#
#    AuctionHouseBot.DisablePermEnchant
#        禁用具有永久附魔的物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableConjured
#        禁用魔法制造的物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableGems
#        禁用宝石
#    默认 0（False）
#
#    AuctionHouseBot.DisableMoney
#        禁用作为货币使用的物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableMoneyLoot
#        禁用作为战利品的货币物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableLootable
#        禁用具有其他物品作为战利品的物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableKeys
#        禁用钥匙物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableDuration
#        禁用具有持续时间的物品
#    默认 0（False）
#
#    AuctionHouseBot.DisableBOP_Or_Quest_NoReqLevel
#        禁用具有 BOP 或任务物品的物品
#        其所需等级小于物品等级
#        (这样可以防止等级为10的玩家使用等级为60的武器或盔甲)
#        (可能需要进一步细化)
#    默认 0（False）
#
###############################################################################

AuctionHouseBot.VendorItems = 0
AuctionHouseBot.VendorTradeGoods = 0
AuctionHouseBot.LootItems = 1
AuctionHouseBot.LootTradeGoods = 1
AuctionHouseBot.OtherItems = 0
AuctionHouseBot.OtherTradeGoods = 0
AuctionHouseBot.No_Bind = 1
AuctionHouseBot.Bind_When_Picked_Up = 0
AuctionHouseBot.Bind_When_Equipped = 1
AuctionHouseBot.Bind_When_Use = 1
AuctionHouseBot.Bind_Quest_Item = 0
AuctionHouseBot.DisablePermEnchant = 0
AuctionHouseBot.DisableConjured = 0
AuctionHouseBot.DisableGems = 0
AuctionHouseBot.DisableMoney = 0
AuctionHouseBot.DisableMoneyLoot = 0
AuctionHouseBot.DisableLootable = 0
AuctionHouseBot.DisableKeys = 0
AuctionHouseBot.DisableDuration = 0
AuctionHouseBot.DisableBOP_Or_Quest_NoReqLevel = 0

###############################################################################
# 拍卖行机器人过滤器 第2部分
#
#     这些过滤器是布尔值（0 或 1），将禁用专门用于命名的职业的物品。
#     (UnusedClass 是职业 10，由于某种原因被跳过)
#     默认 0（允许）
#
###############################################################################

AuctionHouseBot.DisableWarriorItems = 0
AuctionHouseBot.DisablePaladinItems = 0
AuctionHouseBot.DisableHunterItems = 0
AuctionHouseBot.DisableRogueItems = 0
AuctionHouseBot.DisablePriestItems = 0
AuctionHouseBot.DisableDKItems = 0
AuctionHouseBot.DisableShamanItems = 0
AuctionHouseBot.DisableMageItems = 0
AuctionHouseBot.DisableWarlockItems = 0
AuctionHouseBot.DisableUnusedClassItems = 0
AuctionHouseBot.DisableDruidItems = 0

###############################################################################
# 拍卖行机器人过滤器 第3部分
#
#    AuctionHouseBot.DisabledItems
#        防止卖家列出特定物品
#        (不再使用，参见表 "mod_auctionhousebot_disabled_items")
#
#    AuctionHouseBot.DisableItemsBelowLevel
#        防止卖家列出低于此等级的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsAboveLevel
#        防止卖家列出高于此等级的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsBelowLevel
#        防止卖家列出低于此等级的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsAboveLevel
#        防止卖家列出高于此等级的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsBelowGUID
#        防止卖家列出低于此 GUID 的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsAboveGUID
#        防止卖家列出高于此 GUID 的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsBelowGUID
#        防止卖家列出低于此 GUID 的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsAboveGUID
#        防止卖家列出高于此 GUID 的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsBelowReqLevel
#        防止卖家列出低于此所需等级的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsAboveReqLevel
#        防止卖家列出高于此所需等级的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsBelowReqLevel
#        防止卖家列出低于此所需等级的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsAboveReqLevel
#        防止卖家列出高于此所需等级的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsBelowReqSkillRank
#        防止卖家列出低于此所需技能等级的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableItemsAboveReqSkillRank
#        防止卖家列出高于此所需技能等级的物品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsBelowReqSkillRank
#        防止卖家列出低于此所需技能等级的商品
#    默认 0（关闭）
#
#    AuctionHouseBot.DisableTGsAboveReqSkillRank
#        防止卖家列出高于此所需技能等级的商品
#    默认 0（关闭）
#
###############################################################################

AuctionHouseBot.DisableItemsBelowLevel = 0
AuctionHouseBot.DisableItemsAboveLevel = 0
AuctionHouseBot.DisableTGsBelowLevel = 0
AuctionHouseBot.DisableTGsAboveLevel = 0
AuctionHouseBot.DisableItemsBelowGUID = 0
AuctionHouseBot.DisableItemsAboveGUID = 0
AuctionHouseBot.DisableTGsBelowGUID = 0
AuctionHouseBot.DisableTGsAboveGUID = 0
AuctionHouseBot.DisableItemsBelowReqLevel = 0
AuctionHouseBot.DisableItemsAboveReqLevel = 0
AuctionHouseBot.DisableTGsBelowReqLevel = 0
AuctionHouseBot.DisableTGsAboveReqLevel = 0
AuctionHouseBot.DisableItemsBelowReqSkillRank = 0
AuctionHouseBot.DisableItemsAboveReqSkillRank = 0
AuctionHouseBot.DisableTGsBelowReqSkillRank = 0
AuctionHouseBot.DisableTGsAboveReqSkillRank = 0
